body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: normal;
    background: #141414;
}

.row-container {
    margin-left: 25px;
    color: white;
}

.row-cards {
    display: flex;
    gap: 10px;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row-cards::-webkit-scrollbar {
    display: none;
}

.movie-card {
    object-fit: contain;
    width: 100%;
    height: 230px;
    aspect-ratio: 2/3;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.movie-card img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}

.movie-card img:hover {
    transform: scale(1.08);
}

.movie-card-large {
    aspect-ratio: 500/281;
}

.movie-card-large img{
    width: auto;
}